<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of menuItems" class="nav-item" [class.active]=item.activeStatus (click)="activatNavItem(item.item)">
        <a class="nav-link" [routerLink]="item.route">
          {{item.item}}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #toSearchHero class="form-control mr-sm-2" type="text" placeholder="Hero" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit" (ngSubmit)="searchHero(toSearchHero)">Search</button>
    </form>
  </div>
</nav>