<h2>List of Heroes</h2>
<!-- <ul class="list-group">
    <li *ngFor="let hero of heroes" 
        class="list-group-item list-group-item-primary list-group-item-action" 
        data-toggle="list"  
        [class.active]="hero === selectedHero"
        (click)="onSelect(hero)">
      <span class="badge badge-primary badge-pill" style="float: left;">{{hero.id}}</span>{{hero.name}}
    </li>
  </ul> -->

<div class="row">
  <div class="col-sm-6">
    <input #heroName class="form-control" placeholder="Hero name" style="width:100%"/>
  </div>
  <!-- (click) passes input value to add() and then clears the input -->
  <div class="col-sm-offset-6">
    <button (click)="add(heroName.value); heroName.value=''" class="btn btn-outline-success"> add
    </button>
  </div>

</div>
<ul class="list-group list-group-flush">
  <li *ngFor="let hero of heroes" class="list-group-item">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge badge-success" style="float: left;">{{hero.id}}</span>&ensp; {{hero.name}}
    </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="delete(hero)">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</ul>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->